:root{
  --primary:white;
  --secondary: #222222;
}
html,
body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
p{
  font-size: 18px;
  color: var(--secondary);
}
h2 {
  font-size: clamp(2rem, 5vw, 10rem);
  font-weight: 600;
  color: var(--secondary);
}

